fastapi>=0.100.0
uvicorn>=0.23.0
python-multipart
python-dotenv
pydantic>=2.0.0
pydantic-settings
langchain>=0.1.0
langchain-community
langchain-chroma
chromadb>=0.4.0
pymupdf
tiktoken
langchain-huggingface
langchain-groq
langchain-openai
selenium>=4.10.0
webdriver-manager
beautifulsoup4
unstructured
markdown
sentence-transformers